.container {
  max-width: 600px;
  padding: 1em;
}

.container > div:not(:last-child) {
  margin-bottom: 1em;
}

.heading {
  margin: 0 0 1.5em;
}

.sourceLink {
  text-align: right;
}

.sourceLink :link {
  color: white;
}
